@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<a href="@Url.Action("DisplayLoans")" class="btn btn-primary" b-1ejoa07p39>View all loans</a>

