@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>Small project made by Oskar Jansson.</p>
    <a href="@Url.Action("Index")" class="btn btn-primary" b-1ejoa07p39>Go to homepage</a>

<a href="@Url.Action("DisplayLoans")" class="btn btn-primary" b-1ejoa07p39>View all loans</a>
